<a href="https://colab.research.google.com/github/richard-c-gill/Koans-DRAFT/blob/master/Week_3_HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><b> HomeWork - 2 </b></p>

<p><b> A1) List</b> Write a program that does following steps: <br>
    a) Create the list colors that includes the items "Red", "Green", and "Blue". <br>
    b) Adds the item "Purple" to the end of the list colors.<br>
    c) Also add the item "Rose" in the second location of the list. <br>
    d) Deletes the item "Red" from the colos list. <br>
    e) Prints the last two items in the colors list using negative indexing. <br>
    f) Copies the list colors by <b> reference </b> into new list - color1 and print this list.
</p>

In [4]:
colors = ["Red", "Green", "Blue"]
colors.append("Purple")
colors.insert(1, "Rose")
colors.remove("Red")
print(colors[-1], colors[-2])
color1 = colors[:]
print(color1)

Purple Blue
['Rose', 'Green', 'Blue', 'Purple']

<p> <b>A2) Array </b> Write a program that creates the array (names) that includes the items ("Mike", "John", "Zara"). <br>
Then checks if the array has dplicate values. </p>

Hint: Use the index to compare the items. You have to print the result of 3 comparisons.

In [13]:
names = ["Mike", "John", "Zara"]
for elem in names:
        if names.count(elem) > 1:
          print("There is a duplicate")
        else:
          print("no duplicate")

no duplicate
no duplicate
no duplicate

<p> <b>A3) Tuples </b> Write a tuple that is named tuple1 and that contains the items ('John', True, 0, 1.6) and finds the index of the item 1.6 in the tuple tuple1. </p>

In [15]:
tuple1 = ('John', True, 0, 1.6)
print(tuple1.index(1.6))

3

<p> <b>A4) Tuples</b> Write a program that converts the tuple words into a string.
words = {'Hello', 'Python'} <br>
    Hint: use join() method. </p>

In [19]:
tuple2 = ('Hello', 'Python')
print(' '.join(tuple2))

Hello Python

<p><b> A5) Set </b> Write a program that displays the union and the intersection between the following two sets: <br>
    set1 -> {1,2,3,4,5} <br>
    set2 -> {2,3,8,10} <br>
    and to display if set1 is a subset of set2.
</p>

In [27]:
set1 = {1,2,3,4,5}
set2 = {2,3,8,10}

print("This is the union:", set1.union(set2))
print("this is the intersection:", set1.intersection(set2))
print("this is the subset:", set(set1) <= set(set2))

This is the union: {1, 2, 3, 4, 5, 8, 10}
this is the intersection: {2, 3}
this is the subset: False

<p> <b>A6) Baseball Statistics</b> Write a program that displays mean, median, min and max for <i> atBats</i> and <i>hits</i> from <i>topHitter</i> disctionary 
</p>

In [65]:
import statistics

topHitters = {"Gehring":{"atBats": 8061, "hits": 2721},
             "Ruth":{"atBats": 8399, "hits": 2873},
             "Williams":{"atBats": 7706, "hits": 2654}}

batList = []
hitList = []
for i in topHitters:
  batList.append(topHitters[i]["atBats"])
  hitList.append(topHitters[i]["hits"])

print("Below is atBats")
print("this is min:", min(batList))
print('This is max:',max(batList))
print('This is average:', sum(batList)/len(batList))
print("this is median:", statistics.median(batList))

print("Below is the Hits")
print(min(hitList))
print(max(hitList))
print(sum(hitList)/len(hitList))
print(statistics.median(hitList))

Below is atBats
this is min: 7706
This is max: 8399
This is average: 8055.333333333333
this is median: 8061
Below is the Hits
2654
2873
2749.3333333333335
2721

<p> <b>A7) Car Loan </b> If <i>A</i> dollars is borrowed at <i>r%</i> interest compounded monthly to purchase a car with monthly payments for <i>n</i> years, then the monthly payment is given by the formula: <br>
monthly payment = (i * A)/(1 - (1 + i)^(-12 * n)) <br>
where <i>i = r/1200 </i>. Write a program that calculate monthly payment after the user provides the amount of the loan, the interest rate, and the numbers of years. <br>
For example: <br>
Enter amount of loan: 12000<br>
Enter interest rate (%): 6.4 <br>
Enter number of years: 5 <br>
Monthly payment: $234.23    
</p>

In [32]:
loanAmount = int(input("enter in loan amount:"))
interestRate = float(input("enter in interest rate:"))
years = int(input("enter in number of years:"))
monthlyPayment = ((interestRate/1200) * loanAmount) / (1-(1+(interestRate/1200))**(-12 * years))
print("your monthly payment is:", "${:,.2f}".format(monthlyPayment))

enter in loan amount:12000
enter in interest rate:6.4
enter in number of years:5
your monthly payment is: $234.23